$bp-small-desktop: 1200px;
$bp-tablet-landscape: 1024px;
$bp-tablet-portrait: 768px;
$bp-mobile: 736px;
$bp-s-mobile: 320px;
$bp-l: 1300px;
$bp-xl: 1900px;

@mixin desktop {
  @media (min-width: #{$bp-mobile + 1px}) {
    @content;
  }
}

@mixin small-desktop {
  @media (max-width: #{$bp-small-desktop}) {
    @content;
  }
}

@mixin tablet-down {
  @media (max-width: #{$bp-tablet-landscape}) {
    @content;
  }
}

@mixin tablet-portrait-down {
  @media (max-width: #{$bp-tablet-portrait}) {
    @content;
  }
}

@mixin l-up {
  @media (min-width: #{$bp-l}) {
    @content;
  }
}

@mixin xl-up {
  @media (min-width: #{$bp-xl}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$bp-mobile}) {
    @content;
  }
}

@mixin s-mobile {
  @media (max-width: #{$bp-s-mobile}) {
    @content;
  }
}

@mixin mobile-landscape {
  @media (max-width: #{$bp-mobile}) and (orientation: landscape) {
    @content;
  }
}