@font-face {
    font-family: 'Sporting Grotesque';
    src:    url('../webfonts/Regular/Sporting_Grotesque-Regular_web.eot');
    src:    url('../webfonts/Regular/Sporting_Grotesque-Regular_web.eot?#iefix') format('embedded-opentype'),
            url('../webfonts/Regular/Sporting_Grotesque-Regular_web.woff') format('woff'),
            url('../webfonts/Regular/Sporting_Grotesque-Regular_web.woff2') format('woff2'),
            url('../webfonts/Regular/Sporting_Grotesque-Regular_web.ttf') format('truetype'),
            url('../webfonts/Regular/Sporting_Grotesque-Regular_web.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sporting Grotesque';
    src:    url('../webfonts/Bold/Sporting_Grotesque-Bold_web.eot');
    src:    url('../webfonts/Bold/Sporting_Grotesque-Bold_web.eot?#iefix') format('embedded-opentype'),
            url('../webfonts/Bold/Sporting_Grotesque-Bold_web.woff') format('woff'),
            url('../webfonts/Bold/Sporting_Grotesque-Bold_web.woff2') format('woff2'),
            url('../webfonts/Bold/Sporting_Grotesque-Bold_web.ttf') format('truetype'),
            url('../webfonts/Bold/Sporting_Grotesque-Bold_web.svg#svgFontName') format('svg');
    font-weight: bold;
    font-style: normal;
}


body {
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: "liga", "kern";
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	font-size: 16px;
}

.typo--intro {
	font-size: 2.875em;
	line-height: 1.2em;
	font-family: 'Sporting Grotesque';

	@include xl-up {
		font-size: 3.8em;
	}

	@include tablet-down {
		font-size: 2.5em;
	}

	@include mobile {
		font-size: 1.5em;
	}
}

.typo--large {
	font-size: 2.375em;
	font-family: 'Sporting Grotesque';
	line-height: 1em;

	@include xl-up {
		font-size: 3.2em;
	}

	@include tablet-down {
		font-size: 1.7em;
	}

	@include mobile {
		font-size: 1.375em;
	}
}

.typo--para {
	font-size: 1.57em;
	line-height: 1.21em;
	font-family: 'Sporting Grotesque';

	@include xl-up {
		font-size: 2.2em;
	}

	@include tablet-down {
		font-size: 1.3em;
	}

	@include mobile {
		font-size: 1.125em;
	}
}

.typo--small {
	font-size: 14px;
	line-height: 1.3em;
	font-family: 'Sporting Grotesque';
}