* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

// Vars
@import './scss/_reset.scss';
@import './scss/_vars.scss';
@import './scss/_mixins.scss';
@import './scss/_typography.scss';

@import './scss/components/_intro.scss';
@import './scss/components/_pagination.scss';
@import './scss/components/_post-text.scss';
@import './scss/components/_single-image.scss';
@import './scss/components/_diptych-image.scss';
@import './scss/components/_video-embed.scss';

html, body {
	width: 100%;
	position: relative;
	font-family: sans-serif;
}

body {
	opacity: 0;
	transition: opacity 0.33s ease-out;
}

body.loaded {
	opacity: 1;
}

main {
	width: 100%;
	display: block;
}

em {
	font-style: italic;
}

strong {
	font-weight: bolder;
}

.post {
	width: 100%;
	position: relative;
	padding-top: 15px;
	padding-right: 20px;
	padding-bottom: 7em;
	position: relative;

	@include xl-up {
		padding-bottom: 15em;
	}

	@include mobile {
		padding-right: 10px;
		padding-left: 10px;
	}
}

.post__content {
	width: 100%;
	padding-left: 19vw;
	position: relative;

	@include mobile {
		padding-left: 0;
	}
}

.post__title {
	margin-bottom: 0.5em;
	position: relative;
	padding-left: 10px;
	z-index: 1;

	@include mobile {
		padding: 10px;
	}
}

.post__title--spacer {
	pointer-events: none;
	opacity: 0;
}

.post__title--sticky {
	width: 100%;
	padding-top: 15px;
	margin-bottom: 0;
	left: 0;
}

.post__title--abs-top {
	position: absolute;
	top: 0 !important;
}

.post__title--fixed-top {
	position: fixed;
	top: 0 !important;
}

.post__title--abs-bottom {
	position: absolute;
}

.post__title-glyph {
	position: absolute;
	margin-top: 0.3em;
	margin-left: 0.3em;

	@include mobile {
		position: relative;
		margin-left: 0.1em;
	}
}

.post__meta {
	display: flex;
	justify-content: space-between;
	max-width: 1200px;
	margin-top: -0.5em;
	padding-left: 0.33em;
}

.image-caption {
	margin-top: 3px;
	font-style: italic;
}