.intro {
	margin-bottom: 40px;
	position: relative;
	padding: 10px;
	box-size: content-box;

	@include xl-up {
		margin-bottom: 2.5em;
	}
}

.intro__home-link {
	display: block;
	position: absolute;
	padding: 18px;
	z-index: 11;

	@include mobile {
		position: relative;
		padding: 0;
	}
}

.intro__title-image {
	width: 100%;
	height: auto;
	max-width: 100%;
	transition: filter 0.2s ease-in-out;
}

.intro__text {
	padding-right: 2vw;
	margin-bottom: 20px;
	position: relative;
	// z-index: -1;
	text-shadow:
		0px 0px 3px #FFFFFF,
		0px 0px 10px #FFFFFF,
		0px 0px 30px #FFFFFF,
		0px 0px 30px #FFFFFF,
		0px 0px 30px #FFFFFF;
	position: relative;
	padding-top: $top-intro-padding--desktop;

	@include mobile {
		padding: 0;
		padding-top: 0 !important;
	}
}

.intro__text p {
	display: inline;
}

.intro__text a {
	display: inline-block;
	transition: transform 0.22s ease-out;
}

.is-desktop .intro__text a:hover {
	transform: skew(-75deg) scaleY(0.7);
}

.intro__accessibility-title {
	font-size: 0;
	position: absolute;
}

.intro__home-link {
	// padding: 10px;
	display: block;
	// position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	pointer-events: none;

	@include mobile {
		pointer-events: all;
	}
}

.intro__home-link-desktop {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: $top-intro-padding--desktop;

	@include mobile {
		display: none;
	}
}

.intro__logo {
	margin-width: 250px;
	max-width: 500px;
	width: 20%;
	margin-left: 0px;
	transition: filter 0.2s ease-in-out;
	filter: drop-shadow(0px 0px 7px #fff);
}

.intro--hover {
	.intro__home-link {
		z-index: -1;
	}
	
	.intro__title-image {
		filter: blur(20px);
	}

	.intro__logo {
		filter: drop-shadow(0px, 0px, 20px, #FFFFFF);
	}
}