.video-embed {
	margin-bottom: 40px;
	width: 100%;
	position: relative;
}

.video-embed:after {
	width: 100%;
	height: 0;
	position: relative;
	content: '';
	display: block;
	padding-bottom: 56.25%;
}

.video-embed iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}